doctype html
head
  title Mulbox
  link(href="http://overpass-30e2.kxcdn.com/overpass.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet")
  link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js')
  script(src='/javascripts/mulbox.js')
  script(src='https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js')

  //img.mascot(src='/images/mascot.png')


.testflex
    #toggleBtnWrapper
      .toggleBtnWrapper-2
        .toggle
          p Imgur
        .toggle
          p Twitter
      .toggleBtnWrapper-2#toggleBtnWrapper-2
        .toggle
          p Imgur
        .toggle
          p twitter

.vanity

  h1.mulboxTitle Mulbox

  button.btn Compact Mode

#inboxes
  .inboxWrapper
    textarea#inbox(rows='10' cols='30' placeholder='Write some shit here! ')
#mulboxes

// About modal btn
button.btn.btnModal#btnModal About
  // About modal content
.modal#modal
  .modalContent
    .modalHeader
      span.close &times;
      h2 Mulbox 
    .modalBtns
      p Mulbox is a text manager for social media platforms that splits the text for you as you type!
    .modalFooter
      h3
        i.fab.fa-github
