doctype html
head
  title Mulbox
  link(href="http://overpass-30e2.kxcdn.com/overpass.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet")
  link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js')
  script(src='/javascripts/mulbox.js')
  script(src='https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js')

  //img.mascot(src='/images/mascot.png')

#flexWrap

  #dummyFlex

  #titleWrap
    h1.mulboxTitle Mulbox
          span.fas.fa-question-circle#helpQuestion 

  #togBtn
        #toggleBtnWrapper
          .toggleBtnWrapper-2
            .toggle
              p Imgur
            .toggle
              p Twitter
          .toggleBtnWrapper-2#toggleBtnWrapper-2
            .toggle
              p Imgur
            .toggle
              p twitter




#inboxes
  .inboxWrapper
    textarea#inbox(rows='10' cols='30' placeholder='Write your comment here! ')
#mulboxes
  // About modal content
.modal#modal
  .modalContent
    .modalHeader
      span.close &times;
      h2.modalText Mulbox
      p.modalText A textbox manager for writing large comments on social media platforms that impose a character limit.
    .modalBtns
      h2.modalText How it works.
        p.modalText Simply write out your comment in the text area and Mulbox will automagicly split the textboxes for you allowing you to easily copy and paste annoyingly large multi-box comments! YAY!
    .modalFooter
      h3
        a(href="https://github.com/SamRodrigue/mulbox").fab.fa-github.gitLink
