/* centers all base elements and adds color */
body{
	background: #d2e1c8;
	display: flex;
	align-items: center;
	flex-direction: column;
}


/* only for banner header 'Mulbox' might conflict later */
h1{
	font-family: Tahoma;
	font-size: 30px;
	color:#555555;
	letter-spacing: .02em;
}

/* Global textarea style */
textarea{
	border-color: #FFFFFF;
	border-radius: 6px;
	width: 300px;
  	height: 100px;
	resize: none;
}

/* ------------------------Buttons------------------------*/

/* Global button style */
.btn{
	border:none;
	font-size: 16px;
	cursor:pointer;
	background-color:#FFFFFF;
	border-radius: 5%;
	
}

/* Style for the Copy to clipboard button */
.btnCopy{
	padding: 12px 16px;
	margin: 1em;
	position: absolute;
	flex-direction: row;
	bottom: .3em;
	right: .3em;
}

.btnCopy:hover{
	background-color:#808080; 
}

.btnPlusMinus{
	margin: .2em;
	border-radius: 20%;
	background-color:#FFFFFF;
	
}

.btnPlusMinus:hover{
	background-color:#808080; 
}


/* ------------------------Wrappers------------------------s */


.mulbox{
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.wrapper{
	position: relative;
}